body {
    background-color: black;

}

a {
    color: seashell;
}

/* header section */

header {
  display: flex;
  
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 10px;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;


  .logo img {
      flex:1;
      order:1;
      height: 50px;
      margin-right: 400px;
  }

/* nav section */

span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    padding: 20px 10px;
}
/*content section */

.content {
    display:flex;
    justify-content: space-around;
    width: 95%;
}
/* mission section */

.mission div {
    display: flex;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-color: black;
    width: 1200px;
    height: 700px;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    align-content: center;
    justify-content: center;
}

.mission .mission-text div{
    background-color: black;
    width: 1200px;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    z-index: 5;

}

/* tea of the month section */

.tea-of-the-month {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 70%;
}
/*.container {
    display: flex;

    flex-basis: 95%;
}*/
